/*selector universal*/
*{
    padding: 0;
    margin: 0;
}

/*Selector de Temas y sus botones*/
.oscuro{ 
    background-color: #1f1f1f; 
    color: #f1eded; 
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    /* Created with https://www.css-gradient.com */
    /*background: conic-gradient(from 45deg, #14203A, #182954);*/
    background-attachment: fixed;
}

/*Comienzo del Nav*/
nav{
    position:relative;
    z-index: 1;
}

.nav-menu{
    background: #000000;
    height: 75px;
    width: 100%;
    position:fixed;
}

.logo{
    position:absolute;
    color: #FFFFFF;
    max-height: 100%;
    left: 20px;
    cursor: pointer;
}

.nav-menu ul{
    float: right;
    margin-right: 20px;
    list-style: none;
}

.nav-opciones li{
    display: inline-block;
    line-height: 50px;
    margin: 10px 5px;
}

.nav-opciones li a{
color: #FFFFFF;
text-decoration: none;
text-transform: uppercase;
font-size: 20px;
padding: 5px 10px;
position: relative;
border-radius: 4px;
}

li a:focus, a:hover{
    background-color: #387ACF;
    transition: 0.5s;
}

#check{
    display: none;
}
/*Fin del Nav*/

.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 75px repeat(10, 1fr) 75px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .nav-menu { grid-area: 1 / 1 / 2 / 13; }
    .main { grid-area: 2 / 1 / 12 / 10; }
    .aside { grid-area: 2 / 10 / 12 / 13; }
    .footer { grid-area: 12 / 1 / 13 / 13; }
    
    main {
        border: #000000 solid 2px;
        display: flex;
        justify-content: center;
        min-height: 1000px;
    }

    .ordermain {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 900px;
        min-height: 1000px;
    }

    .ordermain > div{
        margin: 20px;
        box-sizing: content-box;
    }

    .item1{
        max-width: 680px;
        height: 500px;
    }
        
    .openai{
        max-width: 680px;
        height: 400px;
    }

    .main p{
        padding: 10px;
    }
    .main h2{
        padding: 0px 10px;
    }

    .item{
        max-width: 320px;
        height: 280px;
        text-size-adjust: 10px;
        margin: 5px;

    }

    .item3{
        max-width: 320px;
        height: 150px;
        margin: 1px;

    }

    .item4{
        max-width: 680px;
        height: 300px;
    }

    div a:hover a:focus{
        background-color: #ededed;
    }

    .imgbox{
        max-width: 320px;
        max-height: 180px;
    }

    aside{
        border: #000000 solid 2px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        min-height: 1000px;
    }

    .title-aside{
        background-color: #5139db;
        max-width: 100%;
        margin: 10px;
        text-size-adjust: 20px;
    }

    aside > div{
        box-sizing: content-box;
    }   

    .item2{
        display: flex;
        max-width: 350px;
        max-height: 56px;
        text-size-adjust: 10px;
        text-align: justify;
        margin: 5px;
    }

    #tamañoaside{
        max-height: 56px;
    }

    .imgbox1{
        max-width: 100px;
        max-height: 56px;
    }

    /*Pie de Pagina*/
    footer{
        background: #000000;
        position: relative;
        border-top: #000000 solid 1px;
    }
    .footer {
        color: #ffffff;
    }

    .social{
        width: 50%;
        float: left;
        margin-top: 30px;
        text-align: center;
    }


    .social label a{
        background: #000000;
    }

    .social label i{
        font-size: 25px;
        padding: 0 10px;
        color: #FFFFFF;
    }

    .social label i:hover{
        color:#C189DB;
    }

    .copy{
        width: 50%;
        float: left;
        margin-top: 30px;
        text-align: left;
    }
    /*Fin Pie de Pagina*/

    .formulario-contenedor{
        background-color: azure;
    }
    /* Boton Whatsapp*/
    .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center;
      font-size:30px;
        box-shadow: 2px 2px 3px #999;
      z-index:100;
    }
    .float:hover {
        text-decoration: none;
        color: #FFF;
      background-color:#1ab152;
        
        animation: shake 1s;
    
     
      animation-iteration-count: infinite;
    }
    
    .my-float{
        margin-top:16px;
    }

    .responsive {
        width: auto;
        max-width: 110px;
        height: auto;
        max-height: 22.5px; 
    }
    