*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    /* Created with https://www.css-gradient.com */
    background: conic-gradient(from 45deg, #14203A, #182954);
    background-attachment: fixed;
}
nav{
    position:relative;
    z-index: 1;
}

.nav-menu{
    background: #000000;
    height: 75px;
    width: 100%;
    position:fixed;
}

.logo{
    position:absolute;
    color: #FFFFFF;
    font-size: 25px;
    top: 8px;
    left: 20px;
    font-weight: bold;
}

.nav-menu ul{
    float: right;
    margin-right: 20px;
    list-style: none;
}

.nav-opciones li{
    display: inline-block;
    line-height: 50px;
    margin: 0 5px;
}

.nav-opciones li a{
color: #FFFFFF;
text-decoration: none;
text-transform: uppercase;
font-size: 20px;
padding: 5px 10px;
position: relative;
border-radius: 4px;
}

a:focus, a:hover{
    background-color: #387ACF;
    transition: 0.5s;
}

#check{
    display: none;
}
.titulo h1{
    margin-top: 20px;
}
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr repeat(4, 2fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
    
    .nav-menu { grid-area: 1 / 1 / 2 / 6; }
    .main { grid-area: 2 / 1 / 5 / 5; }
    .aside { grid-area: 2 / 5 / 5 / 6; }
    .footer { grid-area: 5 / 1 / 6 / 6; }

    header{
        background-color: darkgreen;
        border: #000000 solid 2px;
    }

    nav{
        background-color: #555555;
        border: #000000 solid 2px;
    }
    
    main {
        background-color: brown;
        border: #000000 solid 2px;
        height: 500px;
    }
    aside{
        background-color: aqua;
        border: #000000 solid 2px;

    }
    footer {
        background-color: chartreuse;
        border: #000000 solid 2px;
    }