*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    /* Created with https://www.css-gradient.com */
    background: conic-gradient(from 45deg, #14203A, #182954);
    background-attachment: fixed;
}
nav{
    position:relative;
    z-index: 1;
}

.nav-menu{
    background: #000000;
    height: 75px;
    width: 100%;
    position:fixed;
}

.logo{
    position:absolute;
    color: #FFFFFF;
    max-height: 100%;
    left: 20px;
    cursor: pointer;
}

.nav-menu ul{
    float: right;
    margin-right: 20px;
    list-style: none;
}

.nav-opciones li{
    display: inline-block;
    line-height: 50px;
    margin: 10px 5px;
}

.nav-opciones li a{
color: #FFFFFF;
text-decoration: none;
text-transform: uppercase;
font-size: 20px;
padding: 5px 10px;
position: relative;
border-radius: 4px;
}

a:focus, a:hover{
    background-color: #387ACF;
    transition: 0.5s;
}

#check{
    display: none;
}

.parent {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .nav-menu { grid-area: 1 / 1 / 2 / 13; }
    .main { grid-area: 2 / 1 / 12 / 10; }
    .aside { grid-area: 2 / 10 / 12 / 13; }
    .footer { grid-area: 12 / 1 / 13 / 13; }
    
    main {
        background-color: brown;
        border: #000000 solid 2px;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items: flex-start;
    }

    main > div{
        background-color: rgb(48, 49, 48);
        color: #FFFFFF;
        margin: 20px;
    }

    .item1{
        width: 900px;
        height: 500px;
        border: #000000 solid;
    }

    .placa{
        width: 900px;
        height: 400px;
    }

    .main p{
        padding: 10px;
    }

    .item2{
        width: 450px;
        height: 400px;

    }

    .item3{
        width: 450px;
        height: 400px;
    }

    .item4{
        width: 450px;
        height: 400px;
    }

    .item5{
        width: 450px;
        height: 400px;
    }
    aside{
        background-color: aqua;
        border: #000000 solid 2px;

    }

    footer{
        position: relative;
        border-top: #000000 solid 1px;
    }
    .footer {
        height: 50%;
        color: #FFFFFF;
    }

    .social{
        width: 50%;
        float: left;
        margin-top: 30px;
        text-align: center;
    }


    .social label a{
        background: #162548;
    }

    .social label i{
        font-size: 25px;
        padding: 0 10px;
        color: #FFFFFF;
    }

    .social label i:hover{
        color:#C189DB;
    }

    .copy{
        width: 50%;
        float: left;
        margin-top: 30px;
        text-align: left;
    }